<%= link_to("<< Back to list", {:action => 'list'}, :class => 'back-link')%>

<div class="subject edit">
	<h2>Update Subject</h2>
	<%= form_for(:subject, :url => {:action => 'update',:id => 
		@subject.id}) do |f| %>
	<%= render(:partial => "shared/form", :locals => {:f => f})%>
	<div class="form-buttons">
		<%= submit_tag("Update subject")%>
	</div>
	<%end%>
</div>
	