<%= link_to("<< Back to list", {:action => 'list'}, :class => 'back-link')%>

<div class="subject new">
	<h2>Create Subject</h2>
	<%= form_for(:subject, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => "shared/form", :locals => {:f => f})%>
	<div class="form-buttons">
		<h3><%= submit_tag("Create subject")%><h3>
	</div>
	<%end%>
</div>